@model DowntimeAlerter.WebApi.DTO.SiteDTO

<input type="hidden" id="siteId" value="@Model.Id" />
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="text-align:center">
                <h5>Edit Site</h5>
            </div>
            <div class="card-body">
                <form id="frmAddSite">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="floating-label" for="Name">Name</label>
                                <input type="text" value="@Model.Name" class="form-control" id="txtName" name="Name" aria-describedby="siteName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="floating-label" for="txtUrl">Url</label>
                                <input type="text" value="@Model.Url" class="form-control" id="txtUrl" name="Url" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floating-label" for="Interval">Interval (second)</label>
                                <input type="number" value="@Model.IntervalTime" class="form-control" id="nbrIntervalTime" name="IntervalTime" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floating-label" for="Email">Email</label>
                                <input type="email" value="@Model.Email" class="form-control" id="inputEmail" name="Email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="float:right">
                        <button type="button" id="addSiteSubmitBtn" class="btn btn-warning mb-2">Update Site</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#addSiteSubmitBtn').on('click', function () {

            if (!$("#frmAddSite")[0].checkValidity()) {
                return;
            }

            var formData = {
                Id: $('#siteId').val(),
                Name: $('#txtName').val(),
                Url: $('#txtUrl').val(),
                IntervalTime: $('#nbrIntervalTime').val(),
                Email: $('#inputEmail').val(),
            }

            $.ajax({
                url: '@Url.Action("UpdateSite")',
                type: 'PUT',
                async: true,
                data: formData,
                dataType: "json",
                success: function (response) {
                    StartRecurringNotificationJob();
                    bootbox.alert(response.msg);
                },
                error: function () {
                    bootbox.alert("Unexpected Error");
                }
            });

        })

        function StartRecurringNotificationJob() {
            $.ajax({
                url: '@Url.Action("StartRecurringNotificationJob","Job")',
                type: 'GET',
                async: true,
                dataType: "json",
                success: function (response) {

                },
                error: function (ex) {

                }
            });
        }
    })
</script>