@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <!-- support-section start -->
    <div class="row">
        <div class="col-sm-6">
            <div class="card support-bar overflow-hidden">
                <div class="card-body pb-0">
                    <h2 class="m-0">@ViewBag.SiteCount</h2>
                    <span class="text-c-blue">Total Site Count</span>
                    <p class="mb-3 mt-3">Total number of site on hangfire</p>
                </div>
                <div id="support-chart"></div>
                <div class="card-footer bg-primary text-white">
                    <div class="row text-center">
                        <div class="col">
                            <h4 class="m-0 text-white">@ViewBag.SiteCount</h4>
                            <span>Running</span>
                        </div>
                        <div class="col">
                            <h4 class="m-0 text-white">0</h4>
                            <span>Warning</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card support-bar overflow-hidden">
                <div class="card-body pb-0">
                    <h2 class="m-0">@ViewBag.NotificationLogsCount</h2>
                    <span class="text-c-red">Notifications Count</span>
                    <p class="mb-3 mt-3">Total number of notifications from hangfire.</p>
                </div>
                <div id="support-chart1"></div>
                <div class="card-footer bg-danger text-white">
                    <div class="row text-center">
                        <div class="col">
                            <h4 class="m-0 text-white">@ViewBag.DownStateCount</h4>
                            <span>Down State Count</span>
                        </div>
                        <div class="col">
                            <h4 class="m-0 text-white">@ViewBag.UpStateCount</h4>
                            <span>Up State Count</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- support-section end -->
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        StartRecurringNotificationJob();
    })

    function StartRecurringNotificationJob() {
            $.ajax({
                url: '@Url.Action("StartRecurringNotificationJob","Job")',
                type: 'GET',
                async: true,
                dataType: "json",
                success: function (response) {

                },
                error: function (ex) {

                }
            });
        }
</script>